body {
  padding: 0;
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #300;
  font-family: Helvetica, sans-serif;
}

div.side {
  position: absolute; 
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;
  border-left: 2px solid black;
  border-right: 2px solid black; 
  left: 15%;
  width: 70%;
  background-color: white;
}

div.logo {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  text-align: center;
}

div.content {
  position: absolute;
  top: 125px;
  left: 0px;
  right: 0px;
  padding: 10px;
  padding-bottom: 25px;
  margin-bottom: 0;
  background-color: white;
}

div.errors {
  positioning: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
}

div.errorExplanation {
  positioning: absolute;
  border: solid red 1px;
  left: 0;
  font-size: small;
  padding: 10px;
  padding-top: 0px;
} 

div.errorExplanation h2 {
  text-decoration: underline;
  text-align: center;
}

div.errorExplanation p {
  margin-left: 10px;
}

div.errorExplanation ul li {
  color: red;
}

