body {
  padding: 0;
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #300;
  color: #300;
  font-family: Helvetica, sans-serif;
}

a:visited, a:link {
  text-decoration: none;
  color: #855;
  background-color: #FDD;
  padding: 2px;
  border-top: 2px solid #ECC;
  border-left: 2px solid #ECC;
  border-right: 2px solid #B99;
  border-bottom: 2px solid #B99;
}

a:active {
  color: #522;
}

tr {
  font-size: small;
}

tr.row0 {
  background-color: #FDD;
}

tr.row1 {
  background-color: #DBB;
}

th {
  border-bottom: 1px solid #999;
}

a.clearlink {
  background-color: #FFF;
  border: 0;
}

td {
  padding: 3px;
}

td.name {
  font-weight: bold;
}

td.button {
  background-color: white;
}

tr.row0 td.clearlink a {
  background-color: #FDD;
  border: 0;
}

tr.row1 td.clearlink a {
  background-color: #DBB;
  border: 0;
}

li {
  margin-top: .75em;
}

li a:visited, li a:link, li a:active {
  background-color: white;
  border: 0;
}

input, textarea, select {
  background-color: #FEE;
  border: 1px solid #ECC;
}

input, textarea {
  padding: 2px;
  margin-top: 0;
}

textarea, select, input[type="text"] {
  border-top: 1px solid #B99;
  border-left: 1px solid #B99;
}

input[type="text"] { 
  width: 50%;
}

input[type="submit"] {
  border-top: 2px solid #ECC;
  border-left: 2px solid #ECC;
  border-right: 2px solid #B99;
  border-bottom: 2px solid #B99;
  width: 120px;
}

textarea {
  width: 99%; 
}

div h1 {
  font-size: 14pt;
  color: #300;
}

div.side {
  position: absolute; 
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;
  border-left: 2px solid black;
  border-right: 2px solid black; 
  left: 15%;
  width: 70%;
  background-color: white;
}

div.logo {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  text-align: center;
}

div.content {
  position: absolute;
  top: 125px;
  left: 0px;
  right: 0px;
  padding: 10px;
  padding-bottom: 25px;
  margin-bottom: 0;
  background-color: white;
}

div.errors {
  positioning: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
}

div.errorExplanation {
  positioning: absolute;
  border: solid red 1px;
  left: 0;
  font-size: small;
  padding: 10px;
  padding-top: 0px;
} 

div.errorExplanation h2 {
  text-decoration: underline;
  text-align: center;
}

div.errorExplanation p {
  margin-left: 10px;
}

div.errorExplanation ul li {
  color: red;
}

